@media screen and (max-width: 768px)
{
    body{
        width: 377px;
        margin: auto;
        overflow-x: hidden;
        max-width: 100%;
    }

    .global_frame{
        margin: 0;
    }

    /* NAV BAR */

    nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .logo{
        display: flex;
        justify-content: center;
        
    }

    nav ul{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0;
    }

    nav ul li{
        width: 100%;
        text-align: center;
    }

    nav li a{
        display: block;
        padding: 30px 0 15px 0;
    }

    nav li a:hover{
        border-top: none;
        border-bottom: #0065fc 3px solid;
    }

    /* BLOC WITH BANNER SEARCH FORM FILTERS AND SEARCH RESULTS */

    .bloc_before_main{
        margin: 0 10px 10px 10px;
    }

    /* SEARCH FORM */

    .search_bar{
        width: 333px;
    }

    .search_input{
        width: 71%;
    }

    .search_btn span{
        display: none;
    }

    .search_btn{
        display: none;
    }

    .button_icon{
        width: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065fc;
        border-radius: 16px;
        border: none;
    }

    .button_icon i{
        width: 16%;
        color: white;
        background-color: #0065fc;
        font-size: 18px;
    }

        /* FILTERS */

    .filters_container{
        flex-wrap: wrap;
        justify-content: left;
    }

    /* SEARCH RESULTS */

    .search_result{
        margin: 20px 0 0 0;
    }

    /* MOST POPULAR */

    .most_popular{
        width: 375px;
        align-items: center;
        border-radius: 0;
    }
    .title_most_popular{
        width: 100%;
        padding: 0 20px 0 20px;
    }

    /* ACCOMODATION MARSEILLE */

    .accomodation{
        width: 100%;
        padding: 0 20px 20px 20px;
        background-color: transparent;
    }

    .accomodation_appartement_card{
        margin: 0 0 20px 0;
        width: 100%;
    }

    .accomodation_appartement_card img{
        width: 98%;
    }

    .title_accomodation{
        margin: 0;
    }

    /* ACTIVITIES MARSEILLE */

    .activities{
        width: 100%;
        justify-content: left;
        margin: 20px 0 0 10px;
    }


    .activities h4{
        font-size: 16px;
        margin: 0;
        padding: 22px 0 0 15px;
    }

    .show_more{
        margin: 10px 0 0 0;
    }

    /* LARGES CARDS */
    .activities_large_card_old_port{
        width: 334px;
        height: 190px;
        margin-bottom: 15px;
    }

    .activities_large_card_old_port img{
        width: 100%;
        height: 70%;
    }

    .activities_large_card{
        width: 334px;
        height: 190px;
        margin-bottom: 15px;
    }

    .activities_large_card img{
        width: 100%;
        height: 70%;
    }

    /* SMALLS CARDS */

    .activities_small_card{
        width: 334px;
        height: 190px;
        margin-bottom: 15px;
    }

    .activities_small_card img{
        width: 100%;
        height: 70%;
    }

    .activities_small_card_island{
        width: 334px;
        height: 190px;
        margin-bottom: 15px;
    }

    .activities_small_card_island img{
        width: 100%;
        height: 70%;
    }

    .activities_small_card_fort{
        width: 334px;
        height: 190px;
        margin-bottom: 15px;
    }

    .activities_small_card_fort img{
        width: 100%;
        height: 70%;
    }

    /* FOOTER */

    .footer_container{
        flex-direction: column;
        padding-left: 30px;
        gap: 10px;
        padding-bottom: 30px;
    }

    .footer_link{
        padding-bottom: 13px;
    }
}
