@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Raleway' , sans-serif; 
  max-width: 1440px;
  overflow-x: hidden;
  margin: auto;
}

.global_frame{
  margin: 0 40px 0 40px;
}

/********** Header **********/

/* Nav bar */
nav{
  display: 	flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 38px 0 50px 0;
}
/* logo */
nav img{
  display: flex;
  width: 120px;
}
/* nav menu */
nav ul{
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
}

nav li a{
  padding: 45px 25px 45px 25px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: black;

}
nav li a:hover{
  color: #0065FC;
  border-top: #0065FC 2px solid;
}


/* MAIN */
/* Banner */

.banner h2{
  margin-bottom: 10px;
  font-size: 22px;
}
.banner p{
  margin-bottom: 10px;
}

/********** Research Form **********/

.search_bar{
  width: 419px;
  height: 49px;
  display: flex;
  align-items: center;
  border: #F2F2F2 1px solid;
  border-radius: 16px;
  margin: 20px 0 15px 0;
}
.search_bar i{
  width: 13%;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 16px 0 0 16px;
}

.search_input{
  width: 55%;
  height: 47px;
  border: none;
  outline: none;
}

.search_btn{
  width: 33%;
  height: 49px;
  background-color: #0065FC;
  border: none;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
}

.search_btn span{
  font-weight: 600;
  font-size: 18px;
  font-family: 'Raleway' , sans-serif;
  color: white;
}

.button_icon{
  display: none;
}

::placeholder{
  color: black;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

/********** Filters **********/

.filters_contener{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filters_contener h4{
  padding-right: 20px;
  font-size: 16px;

}

.filter_bloc{
  display: flex;
  align-items: center;
}

.filters_contener i{
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 15px;
  border-radius: 100%;
  margin-right: 10px;

}

.filter{
  display: flex;
  align-items: center;
  padding-right: 20px;
  border: #F2F2F2 2px solid;
  border-radius: 35px;
  height: 46px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.filter p{
  font-weight: bold;
}

.filter:hover{
  transform: scale(1.2);
  background-color: #f2f2f2;
}


/********** Search result *********/

.search_result{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.search_result i{
  display: inline-block;
  color:#0065FC;
  padding: 5px 8px 5px 8px;
  border-radius: 100%;
  border: #F2F2F2 2px solid;
  margin-right: 10px;
}

/********* Main *********/
/* section container */
.accomodation_popular_bloc{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 30px;
  margin-top: 20px;
  width: 100%;
}

.star_full_icon{
  color: #0065FC;
  font-size: 14px;
}
.star_empty_icon{
  color:lightgray;
  font-size: 14px;
}

/* Most popular container */

.most_popular{
  display: flex;
  flex-direction: column;
  background-color:#F2F2F2;
  border-radius: 25px;
  max-height: 643px;
}

.title_most_popular{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 40px;

}
.title_most_popular_star{
  font-size: 22px;
}

/* most popular card */

.popular_appartement_card{
  display: flex;
  width: 343px;
  height: 144px;
  background-color: white ;
  border-radius: 20px;
  padding: 5px;
  margin: 0 40px 30px 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.466);
  cursor: pointer;
}

.popular_appartement_card img{
  display: flex;
  border-radius: 15px 0 0 15px ;
  height: 134px;
  width: 132px;
  object-fit: cover;
  margin-right: 20px;
}

.popular_appartement_card p{
  margin: -10px 0 30px 0;
}

/* accomodation container */
.accomodation{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 66%;
  max-width: 886px;
  background-color: #F2F2F2;
  border-radius: 25px;
  padding: 0 20px 20px 40px;
}

.title_accomodation{
  display: flex;
  width: 100%;
}

/* accomodation card */

.accomodation_appartement_card{
  display: flex;
  flex-flow: column wrap;
  margin: 10px 28px 20px 0;
  padding: 4px;
  border-radius: 20px;
  background-color: white;
  width: 246px;
  height: 199px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.466);
}

.accomodation_appartement_card img{
  margin: 2px 2px 0 3px;
  width: 232px;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.accomodation_appartement_card h3{
  margin-top: 8px;
  margin-left: 10px;
}

.accomodation_appartement_card p{
  margin-top: -6px;
  margin-left: 10px;
}

.accomodation_appartement_card_rate{
  margin-top: 9px;
  margin-left: 10px;
}

.show_more{
  width: 100%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

/********** Activities in Marseille **********/

.activities{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.activities h2{
  width: 100%;
}

.activities h4{
  margin-left: 15px;
  font-size: 18px;
}

/* Small card */

.small_card_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.activities_small_card_fort{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 13px 7px #f2f2f2;
  border-radius: 20px;
  cursor: pointer;
}

.activities_small_card_fort img{
  border-radius: 20px 20px 0 0;
  width: 302px;
  height: 200px;
  object-fit: cover;
}

.activities_small_card_island{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 13px 7px #f2f2f2;
  border-radius: 20px;
  cursor: pointer;
}

.activities_small_card_island img{
  border-radius: 20px 20px 0 0;
  width: 302px;
  height: 125px;
  object-fit: cover;
}


.activities_small_card{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 13px 7px #f2f2f2;
  border-radius: 20px;
  cursor: pointer;
}

.activities_small_card img{
  border-radius: 20px 20px 0 0;
  width: 302px;
  height: 155px;
  object-fit: cover;
}

/* Large card */

.activities_large_card{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 13px 7px #f2f2f2;
  border-radius: 20px;
  cursor: pointer;

}

.activities_large_card img{
  border-radius: 20px 20px 0 0;
  width: 302px;
  height: 400px;
  object-fit: cover;
}

.activities_large_card_old_port{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 13px 7px #f2f2f2;
  border-radius: 20px;
  cursor: pointer;
}

.activities_large_card_old_port img{
  border-radius: 20px 20px 0 0;
  width: 302px;
  height: 400px;
  object-fit: cover;
}

/* Footer */
/* footer container */

.footer_container{
  display: flex;
  flex-wrap: wrap;
  gap: 280px;
  width: 100%;
  min-height: 225px;
  margin-top: 150px;
  padding-left: 40px;
  padding-top: 20px;
  background-color: #F2F2F2;
  cursor: pointer;
}

.footer_link {
  display: block;
  text-decoration: none;
  padding-bottom: 15px;
  color: black;

}

.about{
  display: flex;
  flex-direction: column;
}

.our_accomodations{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:1440px) {
  
  .accomodation_popular_bloc{
    flex-direction: column;
  }

  .most_popular{
  width: 420px;
  }

  .activities{
    width: 650px;
  }

}