html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Raleway' , sans-serif; 
  width: 100%;
}
.global_frame{
  margin: 0 40px 0 40px;
}


/* Header *

/* Nav bar */
nav{
  display: 	flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 37px 0 0 0;
}
/* logo */
.nav_img{
  display: block;
  height: 40px;
  width: auto;
}
/* nav menu */
nav ul{
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
}

nav li a{
  padding: 43px 25px 45px 25px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-align: center;

}
nav li a:hover{
  color: #0065FC;
}

.menu_accomodation{
  color: #0065FC;
border-top: #0065FC 3px solid;
border-bottom: transparent 3px solid;
} 

.menu_activities{
  color: black;
  border-top: transparent 3px solid;
  border-bottom: transparent 3px solid;
}


/* MAIN */
/* Banner */

#banner h2{
  margin-bottom: 10px;
}